@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  font-size: 62.5%;

  --bg-color: linear-gradient(50deg, hsl(254, 94%, 20%) 0%, rgba(187, 0, 255, 1) 100%);
  --text-color: hsl(238, 27%, 28%);
  --bg-color-card: hsl(0, 0%, 100%);
  --message-card-bg-color: hsl(198, 32%, 92%);
  --bg-color-button: hsl(35, 100%, 50%);
  --bg-color-button-hover: hsl(28, 100%, 50%);
  --shadow-card: hsla(0, 0%, 0%, 0.8);
  --shadow-message-card: hsla(0, 0%, 33%, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  display: grid;
  place-items: center;

  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

main {
  background: var(--bg-color-card);
  padding: 4.8rem 6.4rem 6.4rem;
  width: 42.8rem;
  border-radius: 0.5rem;
  filter: drop-shadow(var(--shadow-card) 0 20px 50px);

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);

  text-align: center;

  margin-bottom: 1.4rem;
  width: 26rem;
}

p {
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

main img {
  width: 30rem;
  height: 20rem;

  &#cookie {
    cursor: pointer;
    margin-top: 2rem;

    &:hover {
      -webkit-animation: shake-cookie 0.3s linear infinite both;
      animation: shake-cookie 0.3s linear infinite both;
    }
  }
}

/* second screen */
.sorte {
  gap: 1.7rem;
}

.sorte h1 {
  width: 29rem;
}

.sorte #message {
  filter: drop-shadow(var(--shadow-message-card) 2px 2px 2px);
  background-color: var(--message-card-bg-color);

  width: 29rem;
  padding: 1rem;

  font-family: 'Dancing Script', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  text-align: center;

  -webkit-animation: slide-in-fwd-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#open-another-button {
  border: none;
  border-radius: 0.4rem;

  color: var(--bg-color-card);
  background-color: var(--bg-color-button);

  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;

  padding: 1.6rem;

  cursor: pointer;

  &:hover {
    background-color: var(--bg-color-button-hover);
  }
}

.hidden {
  display: none;
}

@-webkit-keyframes shake-cookie {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes shake-cookie {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateY(180px) scale(0.1);
    transform: translateY(180px) scale(0.1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    -webkit-transform: translateY(180px) scale(0.1);
    transform: translateY(180px) scale(0.1);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
